@page "/mantenimiento/categoria"
@page "/mantenimiento/categoria/{pageNumber:int}"
@inject IModalService Modal
@inject IJSRuntime js
@inject CategoryServices categoryService
@attribute [Authorize]

@if (isBusy)
{
    <img src="assets/images/cargar.gif" class="cargar" />
}
else
{
    <div class="app-page-title">
        <div class="page-title-wrapper">
            <div class="page-title-heading">
                <div class="page-title-icon"><i class="fa fa-cart-arrow-down  icon-gradient bg-happy-itmeo"></i></div>
                <div>
                    Categorias
                    <div class="page-title-subheading">Lista de todas las categorias.</div>
                </div>
            </div>
            <div class="page-title-actions">
                <button class="mb-2 mr-2 btn-icon btn-shadow btn-outline-2x btn btn-outline-info" @onclick="@(async () => await modalCategoria())">
                    <i class="fas fa-plus"></i>Agregar Categoria
                </button>
            </div>

        </div>
    </div>

    <div class="main-card mb-3 card">
        <div class="card-body" style="padding-top:0px !important">
            <div id="example_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="row" style=" padding-bottom: 15px !important;">
                    <div class="col-sm-12 col-md-4">

                    </div>

                    <div class="col-sm-12 col-md-8" style=" margin-top: 16px;">
                        <div class="row">
                            <div class="col-md-3" style="padding-right:0px !important;">

                            </div>
                            <div class="col-md-6" style="padding-left: 0px !important;">
                                <input type="text" @bind-value="Query" class="form-control" placeholder="Buscar...">

                            </div>
                            <div class="col-md-3">
                                <button class="mb-2 mr-2 btn-icon btn btn-primary" @onclick="async() => await getCategoria()"><i class="fas fa-search"></i>Buscar</button>
                            </div>
                        </div>
                    </div>
                </div><div class="row">
                    <div class="col-sm-12">
                        <table style="width: 100%;" id="example" class="table table-hover table-striped table-bordered dataTable dtr-inline" role="grid" aria-describedby="example_info">
                            <thead>

                                <tr role="row">

                                    <th class="sorting" colspan="1" style="width: 65.2px;">Nombre</th>
                                    <th class="sorting" colspan="1" style="width: 65.2px;">Opciones</th>
                                </tr>

                            </thead>
                            <tbody>
                                @foreach (var c in category)
                                {
                                    <tr role="row" class="odd">

                                        <td>@c.Name</td>

                                        <td>
                                            <button class="mb-2 mr-2 btn-icon btn btn-success" @onclick="@(async () => await EditCategory(c.Id))">
                                                <i class="fas fa-edit"></i>
                                            </button>
                                            <button class="mb-2 mr-2 btn-icon btn btn-danger" @onclick="@(() => selectId(c.Id))">
                                                <i class="fas fa-trash-alt"></i>
                                            </button>
                                        </td>
                                    </tr>
                                }

                            </tbody>
                            <tfoot>
                                <tr><th rowspan="1" colspan="1">Nombre</th><th rowspan="1" colspan="1">Opciones</th></tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-5">

                    </div>
                    <div class="col-sm-12 col-md-7">
                        <div class="dataTables_paginate paging_simple_numbers" id="example_paginate" style=" float: right;">
                            <ul class="pagination">
                                <li class="paginate_button page-item previous disabled" id="example_previous">
                                    <a href="#" aria-controls="example" data-dt-idx="0" tabindex="0" class="page-link">Previous</a>
                                </li>
                                @for (int i = 1; i <= totalPage; i++)
                                {
                                    int page = i;
                                    @if (page == PageNumber)
                                    {
                                        <li class="paginate_button page-item active">
                                            <button @onclick="async () => await moveToPageAsync(page) " data-dt-idx="1" disabled class="page-link">@i</button>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="paginate_button page-item">
                                            <button @onclick="async () => await moveToPageAsync(page) " data-dt-idx="1" class="page-link">@i</button>
                                        </li>
                                    }

                                }

                                <li class="paginate_button page-item next" id="example_next">
                                    <a href="#" aria-controls="example" data-dt-idx="7" tabindex="0" class="page-link">Next</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

@code {

    private string TitleModal;
    bool isBusy = false;
    [Parameter]
    public int? PageNumber { get; set; }
    public string Query { get; set; }




    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }
    List<CategoryViewModel> category = new List<CategoryViewModel>();
    int totalPage = 1;

    protected override async Task OnInitializedAsync()
    {

        await getCategoria();
    }

    async Task getCategoria()
    {
        isBusy = true;
        var userState = authenticationState.Result;
        categoryService.AccessToken = userState.User.FindFirst("AccessToken").Value;
        if (PageNumber == null)
            PageNumber = 1;
        CategoryCollectionPagingResponse result;

        if (string.IsNullOrWhiteSpace(Query))
            result = await categoryService.GetAllCategoryByPageAsync(PageNumber.Value);
        else
            result = await categoryService.SearchCategoryByPageAsync(Query, PageNumber.Value);
        if (result.Count % result.PageSize == 0)
            totalPage = result.Count / result.PageSize;
        else
            totalPage = (result.Count / result.PageSize) + 1;
        category = result.Records.ToList();

        isBusy = false;
    }


    async Task moveToPageAsync(int pageNumber)
    {
        PageNumber = pageNumber;
        await getCategoria();
    }


    async Task mostrar()
    {
        if (await js.Comfirmar("Eliminar", "Esta seguro que desea eliminar", TiposDeAlertas.error))
        {
            await js.MostrarMensajes("Listo", "Producto elimidado", TiposDeAlertas.success);
        }
        else
        {
            await js.MostrarMensajes("UUUPS", "Producto sin eliminar", TiposDeAlertas.warning);
        }
    }

    async Task modalCategoria()
    {
        var forModal = Modal.Show<CrearCategoria>("Crear Categoria");
        var result = await forModal.Result;

        if (!result.Cancelled)
        {
            await OnInitializedAsync();
        }
    }


    async Task EditCategory(string categoriaId)
    {

        var parameters = new ModalParameters();
        parameters.Add(nameof(CrearCategoria.CategoriaId), categoriaId);

        var forModal = Modal.Show<CrearCategoria>("Editar Categoria", parameters);
        var result = await forModal.Result;

        if (!result.Cancelled)
        {
            await OnInitializedAsync();
        }

    }
    string selectCategorytId = string.Empty;
    async Task selectId(string id)
    {

        if (await js.Comfirmar("Eliminar", "Esta seguro que desea eliminar", TiposDeAlertas.error))
        {
            selectCategorytId = id;
            await DeleteCategory();
        }
        else
        {
            await js.MostrarMensajes("UUUPS", "Categoria sin eliminar", TiposDeAlertas.warning);
        }
    }

    async Task DeleteCategory()
    {
        isBusy = true;
        var result = await categoryService.DeleteCategoryAsync(selectCategorytId);
        if (result.IsSuccess)
        {
            var deleteCategory = category.SingleOrDefault(p => p.Id == selectCategorytId);
            category.Remove(deleteCategory);
            await js.AvisoAlert("Categoria borrado con exito!", "1500", "center", TiposDeAlertas.success);
            await OnInitializedAsync();

        }
        else
        {
            await js.AvisoAlert("Error!", "1500", "center", TiposDeAlertas.error);
        }

        isBusy = false;
    }


}
