@inject IModalService Modal
@inject ProductServices productService
@inject IJSRuntime js

<div class="app-page-title">
    <div class="page-title-wrapper">
        <div class="page-title-heading">
            <div class="page-title-icon"><i class="fa fa-cart-arrow-down  icon-gradient bg-happy-itmeo"></i></div>
            <div>
                Crear Productos
                <div class="page-title-subheading">Creas todos los productos que necesites.</div>
            </div>
        </div>


    </div>
</div>

<div class="main-card mb-3 card">
    <div class="card-body">
        <EditForm Model="@producto" OnValidSubmit="@SaveProduct">
            <DataAnnotationsValidator />
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label for="exampleEmail11" class="">Nombre</label>
                        <InputText class="form-control" placeholder="Nombre productos" @bind-Value="producto.Name" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label for="examplePassword11" class="">Codigo</label>
                        <InputText class="form-control" placeholder="Codigo del producto" @bind-Value="producto.Code" />
                    </div>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label for="exampleAddress" class="">Categoria</label>
                        <InputSelect @bind-Value="producto.Category" class="form-control">
                            <option value="1">1</option>
                            @* @foreach (var cat in ListCategory){
            <option value="@cat.Id">@cat.Name</option>
        }*@
                        </InputSelect>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="position-relative form-group">
                        <label for="exampleAddress2" class="">Marcas</label>
                        <InputSelect @bind-Value="producto.Brand" class="form-control">
                            <option value="1">1</option>
                            @*  @foreach (var cat in ListBrand){
          <option value="@cat.Id">@cat.Name</option>
        }*@
                        </InputSelect>
                    </div>
                </div>
            </div>


            <div class="form-row">
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="exampleCity" class="">Precio Costo</label>
                        <InputNumber class="form-control" placeholder="Precio compra" @bind-Value="producto.Cost" />

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="exampleCity" class="">Precio Costo</label>
                        <InputNumber class="form-control" placeholder="Precio venta" @bind-Value="producto.Price" />

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="position-relative form-group">
                        <label for="exampleState" class="">Especificacion</label>
                        <InputSelect @bind-Value="producto.Description" class="form-control">
                            @foreach (var desc in Description)
                            {
                                <option value="@desc">@desc</option>
                            }
                        </InputSelect>
                    </div>
                </div>

            </div>

            <button type="submit" class="mt-2 btn btn-primary" style="float: right;margin-left: 12px;">Guardar</button>
            <button class="mt-2 btn btn-danger" style=" float: right;">Limpiar</button>
        </EditForm>

    </div>

</div>


@code {
    private ProductViewModel producto = new ProductViewModel();

    private List<CategoryViewModel> ListCategory;
    private List<BrandViewModel> ListBrand;
    private String[] Description = { "Unidades", "Libras", "Cajas" };

    public async Task SaveProduct()
    {
        var result = await productService.ProductPostAsync(producto);

        if (result.IsSuccess)
        {
            await js.MostrarMensajes("Listo", "Guardo el producto", TiposDeAlertas.success);
        }
        else
        {
            await js.MostrarMensajes("Error", "No se pudo guardar el producto", TiposDeAlertas.error);
        }
    }

}
